* {
  margin: 0;
  padding: 0;
  
  /*모든  제거*/
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(251, 247, 242);
  display: inline-block;
  text-align: center;
  width: 100%;
  
}

div{
  display: inline-block;
}

header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  position: fixed;
  z-index: 2000;
  min-width: 1300px;
}
header>div{
  width: 85%;
}


.logo {
  width: 10px;
  vertical-align: middle;
  
}

.logo>img {
  height: 45px;
  margin: 5px 0px 12px 30px;
}

nav {
  display: inline-block;
  margin-left: 12px;
 

}


.headerNav>li {
  display: inline-block;
  /* 리스트를 가로로 정렬*/

}

.headerNav>li>a {

  padding: 0 12px;
  color: rgb(63, 59, 59);
  font-weight: 900;
 


}

#liMain {
  color: rgb(250, 127, 60);

}

#liMain:hover {
  color: rgb(218, 89, 20);

}


.headerNav>li>a:hover {
  color: rgba(63, 63, 63, 0.781);
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

.SearchBox {
  font-size: 90%;
  font-weight: normal;
  text-align: left;
  line-height: 250%;
  width: 250px;
  color: #58666e;
  background-color: rgb(242, 243, 246);
  border: none;
  padding-left: 10px;
  border-radius: 5px;
  margin-left: 70px;
}

.chatButton {
  width: 90px;
  height: 35px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  background-color: #fff;
  font-weight: 900;
  margin-left: 7px;
}

.content{
  width: 85%;
  margin-top: 7%;
  margin-left: 15%;
  min-width: 1300px;
}

.mainText {
  display: inline-block;
  font-size: 90%;
  text-align: left;
  margin-top: 180px;
  margin-right: 100px;
  position: relative;
}

.content>.mainText>h1 {
  font-size: 300%;
}


.mainImg {
  width: 730px;
  display: inline-block;
  vertical-align: middle;
  
}
.content2 {
  width: 100%;
  background-color: #fff;
  min-width: 1300px;
}


.content2>.mainText>h1 {
  font-size: 250%;
}

.mainImg2{
    width: 490px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 100px;

}

.content2Button1 {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(242, 243, 246);
  font-weight: 900;
  font-size: 115%;
  margin-left: 7px;
  color: rgb(26, 25, 25);
}

.content2Button2 {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(242, 243, 246);
  font-weight: 900;
  font-size: 115%;
  margin-left: 7px;
  color: rgb(26, 25, 25);
}

.mainImg3{
  width: 490px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 100px;

}

.content3 {
  width: 100%;
  background-color: #daf3e3;
  min-width: 1300px;
}

.content3>.mainText>h1{

  font-size: 250%;
}